# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Last Pencil (Java)/*
!/Last Pencil (Java)/task/
/Last Pencil (Java)/task/*
!/Last Pencil (Java)/task/src

# Project exclude paths
/Topics/Processing strings/Create an euphonious word/out/
/Topics/Processing strings/Create an euphonious word/out/production/classes/
/Topics/Processing strings/Double characters/out/
/Topics/Processing strings/Double characters/out/production/classes/
/Topics/Processing strings/The longest word/out/
/Topics/Processing strings/The longest word/out/production/classes/